@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Zalando Sans Expanded';
	src: url('/fonts/ZalandoSansExpanded-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Zalando Sans Expanded';
	src: url('/fonts/ZalandoSansExpanded-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Zalando Sans Expanded';
	src: url('/fonts/ZalandoSansExpanded-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Zalando Sans Expanded';
	src: url('/fonts/ZalandoSansExpanded-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

html, body {
	background-color: #F7F7F4;
}
